:root {
    --primary: #02609d;
    --primary10: rgba(2, 96, 157, 0.1);
    --secondary: #0386bb;
    --tertier: #03acd8;
}

.filament-sidebar-header:before,
:is(.dark .filament-sidebar-header):before {
    background: var(--primary);
    background: linear-gradient(90deg, var(--primary10) 0%, var(--tertier) 50%, var(--primary10) 100%);
}

.bg-primary-400, .bg-primary-500, .bg-primary-600, .bg-primary-700 {
    background-color: var(--primary);
}
.bg-primary-500\/10 {
    background-color: var(--primary10);
}
.hover\:bg-primary-400:hover, .hover\:bg-primary-500:hover, .hover\:bg-primary-600:hover, .hover\:bg-primary-700:hover {
    background-color: var(--secondary);
}

.text-primary-400, .text-primary-500, .text-primary-600, .text-primary-700,
.group:focus-within .group-focus-within\:text-primary-500 {
    color: var(--primary);
}
.hover\:text-primary-400:hover, .hover\:text-primary-500:hover, .hover\:text-primary-600:hover, .hover\:text-primary-700:hover,
:is(.dark .dark\:text-primary-400), :is(.dark .dark\:text-primary-500), :is(.dark .dark\:text-primary-600), :is(.dark .dark\:text-primary-700),
:is(.dark .dark\:focus\:text-primary-400:focus) {
    color: var(--secondary);
}
:is(.dark .dark\:hover\:text-primary-400:hover), :is(.dark .dark\:hover\:text-primary-500:hover), :is(.dark .dark\:hover\:text-primary-600:hover), :is(.dark .dark\:hover\:text-primary-700:hover) {
    color: var(--tertier);
}

.is-focused .choices__inner, .is-open .choices__inner {
    --tw-ring-color: var(--primary);
    border-color: var(--primary);
}

.focus\:ring-primary-500:focus,
.focus\:ring-primary-600:focus {
    --tw-ring-color: var(--primary);
}
.focus\:border-primary-500:focus,
.focus\:border-primary-600:focus,
:is(.dark .dark\:focus\:border-primary-400:focus) {
    border-color: var(--primary);
}
.focus\:bg-primary-50:focus,
:is(.dark .dark\:focus\:bg-gray-800:focus) {
    background-color: var(--primary10);
}
.focus\:text-primary-600:focus {
    color: var(--primary);
}
